
<!-- TODO Remove hard coded styles, for demo only -->
<md-toolbar color="primary">
  <div class="flex-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
    <div fxFlex="100" fxFlex.gt-xs="80" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <a routerLink="/">
          <div>Valuvesting</div>
        </a>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <!-- fxShow.gt-sm isn't working so this is the work around for now -->
        <div fxHide.xs fxHide.sm fxLayout="row" fxLayoutAlign="space-between center">
          <div *ngIf="user?.auth">{{ user.auth.displayName }}</div>
          <button *ngIf="!user?.auth" md-raised-button class="mat-accent" (click)="login()">Login</button>
        </div>

        <div fxHide.gt-sm>
            <button md-icon-button [mdMenuTriggerFor]="appMenu">
              <md-icon>more_vert</md-icon>
            </button>
        </div>

        <!-- this should probably be its own component -->
        <md-menu #appMenu="mdMenu">
          <a (click)="login()"><button md-menu-item>
            <span *ngIf="!user?.auth">Login</span>
            <span *ngIf="user?.auth">{{ user.auth.displayName }}</span>
          </button></a>
        </md-menu>
      </div>
    </div>
  </div>
</md-toolbar>